/* You can add global styles to this file, and also import other style files */
html
{
  height: 100%;
}

body
{
  display: grid;
  grid-template-rows: 70px 1fr;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.appBanner
{
  background-color: midnightblue;
  display: grid;
  grid-template-columns: 70px 1fr;
  height: 100%;
  width: 100%;
}

.appTitle
{
  align-self: center;
  color: aliceblue;
  font-size: 18pt;
  grid-column: 2;
  margin-left: 10px;
}

.selected
{
  background-color:lightseagreen
}

